/* 色彩表 */
/* 颜色来自 https://tailwindcss.com/docs/customizing-colors */
:root {
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #64748b;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;
}

/* 定义颜色变量 */
:root {
  /* 主色 */
  --primary: #0f172a;

  /* 对比色 */
  --contrasting-color: #e2e8f0;
  /* 辅助色,比背景色略微淡一些,用来做容器的主要背景色,透明度 10%-90% */
  --complementary-colors: #1e293b;
}

/* 定义一些更加语义化的词 */
:root {
  --bg-color: var(--primary);
  --bg-linear-gradient: linear-gradient(
    45deg,
    var(--slate-950),
    var(--slate-900)
  );
  --text-color: var(--contrasting-color);
  --border-color: var(--slate-700);
  --rounded-sm: 8px;
  --rounded-full: 9999px;
  --hover-bg: var(--slate-700);
  --component-bg: var(--slate-800);
  --button-hover: var(--slate-600);
}

/* 浅色模式 颜色变量 */
@media (prefers-color-scheme: light) {
  :root {
    --complementary-colors: white;
    --contrasting-color: var(--slate-50);
    --primary: white;
    --text-color: #0f172a;
    --bg-linear-gradient: linear-gradient(
      45deg,
      var(--slate-100),
      var(--slate-200)
    );
    --hover-bg: var(--slate-100);
    --component-bg: var(--slate-50);
    --button-hover: var(--slate-200);
  }
}
